body{
    color: #40483D;
}

#community-container{
    max-width: 90vw;
    margin: 5% auto auto auto;
}

#community-title{
    margin: 50px 0 50px 0;
    text-align: center;
}

.post-button{
    width: 100%;
    margin-bottom: 30px;
    background-color: #558E4C;
    border-radius: 10px;
    padding: 0.5% 0;
    font-family: B612;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: 0.35s;
}

.post-button:hover{
    border: 1px solid black;
    color: #40483D;
    background-color: white;
    box-shadow: 0 5px #666;
}

.btn:first-child:active, .post-button:active{
    background-color: #a5b9ad;
    color: #404a3d;
}

#post-container{
    margin-bottom: 30px;
}

.post-header{
    justify-content: space-between;
}

.post-options{
    display: flex;
    justify-content: space-between;
}

.post-options .btn{
    background-color: rgb(165, 207, 165);
    border: none;
    color: #40483D;
    font-weight: bolder;
    transform: rotate(270deg);
}

.post-content{
    background-color: rgb(165, 207, 165);
}

.post-title{
    font-weight: bold;
}

#user-info-container{
    font-size: 14px;
    font-weight: bold;
}

.user-name{
    margin: 0;
}

.post-date{
    font-weight: normal;
    font-size: 11px;
}

.post-text{
    font-size: 14px;
}

.post-details p{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.post-buttons{
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 2%;
}

.join-button{
    width: 30%;
    border-radius: 90px;
    font-size: 14px;
    height: 5%;
    font-weight: bold;
    background-color:#404a3d;
    border: none;
    transition: 0.35s;
}

.join-button:hover{
    border: 1px solid black;
    color: #40483D;
    background-color: white;
    box-shadow: 0 5px #666;
}

#add-post-container, #update-post-container{
    display: none;
    background-color: #A5b9AD;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.35s;
}

#add-new-post-header, #update-post-header{
    margin: 40px 5% 20px 5%;
    justify-content: space-between;
}

#close-add-new-post, #close-update-post{
    font-size: 25px;
    font-weight: bold;
    color: #40483D;
    cursor: pointer;
    background-color: #A5b9AD;
    border: none;
    transition: 0.35s;
}

.close:hover{
    color: white;
}

#add-post-form, #update-post{
    margin: 5% 5% 5% 5%;
}

.form-group{
    margin: 5px 5%;
}

.end-date{
    margin: 5px 0;
}

#post-start-date, #post-end-date, #update-post-start-date, #update-post-end-date{
    border-radius: 5px;
    color: gray;
    border: none;
    padding: 5px;
}

#add-post-image, #update-post-image{
    margin-top: 10px;
}

#submit-post, #update-post{
    width: 90%;
    margin: 30px 5%;
}

.join-now-link input, #update-join-now-link input{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.alert{
    position: fixed;
    top: 2%;
    width: 90vw;
}

#add-post-msg, #update-msg, #delete-msg{
    display:none;
    z-index: 1001;
}


#update-post-container{
    position: fixed;
    top: 0;
    width: 80vw;
    height: 97vh;
    margin: 1.5vh 5vw;
}

#update-post-header{
    margin: 15px 10% 5px 10%;
    justify-content: space-between;
}

#update-post-button{
    margin-top: 0;
    margin-bottom: 10px;
}

