/*Community Page CSS*/
/* apply styles to all images */  
img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 45px;
    line-height: 1;
    color: #fff;
    margin: 0 0 40px;
}

h2{
    font-size: 38px;
    line-height: 1;
    text-align: center;
    color: #16381f;
    margin: 0 0 30px;
}

h4 {
    font-size: 25px;
    color: #ecdd5e;
    margin-bottom: 10px;
    font-family: 'Yellowtail', cursive;
}

ul {
    padding-left: 0;
}
/* banner section */
.community-banner {
    padding: 0 60px;
    width: 100%;
    min-height: 50vh;
    background: rgba(0, 0, 0, .30) url(../image/about/about-banner.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.community-banner h1 {
    font-size: 45px;
    line-height: 1;
    color: #fff;
    margin: 0 0 40px;
    font-family: 'poppins', sans-serif;
}

.contact-banner p{
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 20px;
}

/*Main community container style*/
#community-container{
    max-width: 90vw;
    margin: 5% auto auto auto;
}

/*Post Button design*/
.post-button{
    width: 100%;
    margin-bottom: 30px;
    background-color: #558E4C;
    border-radius: 10px;
    padding: 0.5% 0;
    font-family: B612;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: 0.35s;
}

/*post-button animation*/
.post-button:hover{
    border: 1px solid black;
    color: #40483D;
    background-color: white;
    box-shadow: 0 5px #666;
}

.btn:first-child:active, .post-button:active{
    background-color: #a5b9ad;
    color: #404a3d;
}

/*Post Container*/
#post-container{
    margin-bottom: 30px;
}

/*Style for each respective posts*/
.post-header{
    justify-content: space-between;
}

.post-options{
    display: flex;
    justify-content: space-between;
}

.post-options .btn{
    background-color: rgb(165, 207, 165);
    border: none;
    color: #40483D;
    font-weight: bolder;
    transform: rotate(270deg);
}

.post-content{
    background-color: rgb(165, 207, 165);
}

.post-title{
    font-weight: bold;
}

#user-info-container{
    font-size: 14px;
    font-weight: bold;
}

.user-name{
    margin: 0;
}

.post-date{
    font-weight: normal;
    font-size: 11px;
}

.post-text{
    font-size: 14px;
}

.post-details p{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.post-buttons{
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 2%;
}

/*Join button design and animation*/
.join-button{
    width: 30%;
    border-radius: 90px;
    font-size: 14px;
    height: 5%;
    font-weight: bold;
    background-color:#404a3d;
    border: none;
    transition: 0.35s;
}

.join-button:hover{
    border: 1px solid black;
    color: #40483D;
    background-color: white;
    box-shadow: 0 5px #666;
}

/*Add post and update post style*/
#add-post-container, #update-post-container{
    display: none; /*Hide it so that it only shows then add post or update post button is clicked*/
    background-color: #A5b9AD;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.35s;
}

#add-new-post-header, #update-post-header{
    margin: 40px 5% 20px 5%;
    justify-content: space-between;
}

#close-add-new-post, #close-update-post{
    font-size: 25px;
    font-weight: bold;
    color: #40483D;
    cursor: pointer;
    background-color: #A5b9AD;
    border: none;
    transition: 0.35s;
}

.close:hover{
    color: white;
}

#add-post-form, #update-post{
    margin: 5% 5% 5% 5%;
}

.form-group{
    margin: 5px 5%;
}

.end-date{
    margin: 5px 0;
}

/*Style for form inputs*/
#post-start-date, #post-end-date, #update-post-start-date, #update-post-end-date{
    border-radius: 5px;
    color: gray;
    border: none;
    padding: 5px;
}

#add-post-image, #update-post-image{
    margin-top: 10px;
}

#submit-post, #update-post{
    width: 90%;
    margin: 30px 5%;
}

.join-now-link input, #update-join-now-link input{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/*Alert message style*/
.alert{
    position: fixed; /*Fixed position at the top of the screen*/
    top: 2%;
    width: 90vw;
}

#add-post-msg, #update-msg, #delete-msg{
    display:none; /*Hide until action has been done*/
    z-index: 1001; /*Make sure it always appears on top of other elements*/
}

/*Update post style*/
#update-post-container{
    position: fixed; /*make sure it stays on top of the screen until it is submitted or cancelled*/
    top: 0;
    width: 80vw;
    height: 97vh;
    margin: 1.5vh 5vw;
}

#update-post-header{
    margin: 15px 10% 5px 10%;
    justify-content: space-between;
}

#update-post-button{
    margin-top: 0;
    margin-bottom: 10px;
}

