*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to all images */  
img {
    width: 100%;
    display: block;
}

/* logo width */
.logo{
    width: 70px;
}

/* Mobile view */
/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 15px 20px;
    transition: all 0.3s ease;
}

/* sticky navbar */
.navbar.sticky{
    background-color: #fff;
}

/* Navbar content styles */
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu list styles */
.menu-list li{
    list-style: none; /* remove list dot*/
}

.menu-list li a {
    color: #8D8B8A;
    font-size: 18px;
    font-weight: 500; /* change font weight */
    text-decoration: none; /* remove underline*/
    transition: all 0.3s ease;  /* hover transition for 0.3s */
}

/* Hover effect on menu list items */
.menu-list li a:hover{
    color: #404a3d; 
    border-bottom: #ecdd5e 3px solid;
}

.menu-list li.active a{
    color: #404a3d;
}

/* style icon button for burger menu and cancle btn */
.icon{
    color: #404a3d;
    font-size: 25px;
    cursor: pointer; /* change the mouse cursor when hovering over an element */
}

.icon:hover {
    color: #ecdd5e;
}

/* hide the icons wait for javascript to style */
.icon.hide{
    display: none;
}

/* position cancel icon absolute and set the top and right */
.menu-list .cancel-btn{
    position: absolute;
    right: 35px;
    top: 25px;
}

/* navbar menu list styles */
.navbar .menu-list{
    position: fixed;
    transform: translateX(100%);
    top: 0px;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* background color with 50% transparent */
    backdrop-filter: blur(5px); /* set background color to blur */
    transition: all 0.3s ease; /* Set transition time */
    inset: 0 0 0 30%; /* set the space that burger menu takes */
    padding-top: 100px; 
}

/* show the menu */
.navbar.show .menu-list{
    transform: translateX(0%);
}

.navbar .menu-list li {
    margin-top: 35px;
    padding: 5px;
}

/* footer */
footer{
    background-color: #353E32;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 40px 30px;
}

footer p {
    color: #A5B9AD;
}

.footer-logo-img {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-logo-img img{
    width: 140px;
}

footer .social a i {
    font-size: 40px;
    padding: 20px 20px 0 20px;
}

.footer-col {
    padding: 20px 0;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav h4{
    margin-bottom: 10px;
}

.footer-nav ul li {
    list-style-type: none;
}

.footer-col a {
    text-decoration: none;
    color: #A5B9AD;
    font-size: 16px;
}

.footer-col a:hover{
    color: #fff;
}

/* footer copyright */
.copyright {
    border-top: 1px solid #fff;
    text-align: center;
    padding-top: 5px;
}

.policy {
    display: flex;
    justify-content: center;
}

.policy p a {
    text-decoration: none;
    color: #ecdd5e;
    padding: 0 5px;
    font-size: 16px;
}

.policy p a:hover {
    color: #fff;
}

/* Tablet view */
@media screen and (min-width: 688px) {
        /* header nav */
        .icon {
            display: none;
        }
    
        .navbar .menu-list {
            position: sticky;
            display: flex;
            background-color: transparent;
            transform: none;
            padding-top: 0;
        }
    
        .navbar .menu-list li {
            margin-top: 0px;
        }
        
        .navbar .menu-list li a {
            padding: 0 5px;
        }
        
        .navbar .menu-list li a.sign {
            padding: 5px 15px;
        }
}

/* destop view */
@media screen and (min-width: 992px) {
    /* footer section */
    .footer-row{
        display: flex;
    }

    .footer-logo {
        width: 25%;
    }

    .footer-nav {
        width: 75%;
        justify-content: space-around;
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
    }

    .copyright p {
        padding-top: 20px;
    }
}

