body{
    font-family: B612;
    margin: 0p;
    padding: 0;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
    max-height: 80vh;
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 226, 176);
    position: fixed;
    padding: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    width: 80%;
    border-radius: 90px;
    padding: 0.5% 0;
    background-color: rgb(56, 77, 56);
    font-family: B612;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: 0.35s;
}

button:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
    box-shadow: 0 5px #666;
}

button:active{
    background-color: rgb(176, 226, 176);
}

h1{
    font-family: Bangers;
    font-size: 55px;
    margin-top: 50px;
}

#question-tracker{
    background-color: rgb(118, 146, 118);
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 3%;
}

#question-tracker-inner{
    background-color:rgb(56, 77, 56);
}

#start-content{
    flex-direction: column;
}

#start-button{
    margin-top: 30px;
    max-width: 50vw;
}

#start-quit-button{
    margin-top: 10px;
    width: 50%;
    max-width: 25vw;
    padding: 0.25% 0;
}

#quiz-content{
    display: none;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

#quiz-content-header{
    display: none;
    position: fixed;
    top: 8%;
}

#quiz-quit-button{
    position: fixed;
    width: 15vw;
    left: 5%;
}

#points{
    position: fixed;
    display: inline;
    font-size: 12px;
    width: 20vw;
    color: white;
    text-align: center;
    padding-top: 3px;
    background-color: rgb(56, 77, 56);
    border-radius: 15px;
    right: 5%;
}

#points-earned{
    font-size: 20px;
    font-weight: bold;
}

#question-number{
    font-size: 14px;
    font-family: Anonymous Pro;
    font-weight: bold;
}

#question{
    font-size: 22px;
    font-weight: bold;
}

.option-seperator{
    width: 60vw;
    background-color: gray;
    height: 1px;
    opacity: 0.5;
}

.choice-container{
    display: flex;
    margin: 4% 0;
    width: 40vw;
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(118, 146, 118);
    border-radius: 10px;
    padding: 1.5% 7%;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 5px #666;
    color: black;
}

.choice-container:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
    box-shadow: 0 5px #666;
    .choice-prefix{
        background-color: rgb(177, 177, 177);
    }
}

.choice-prefix{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 90px;
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 7%;
}

.option-info{
    margin: 0;
}

#end-content{
    display: none;
}