    /* Hide the pop-up window by default */
    #popup-window {
        display: none;
        position: fixed;
        border-radius: 10px;
        width: 100vw;
        height: 100vh;
        max-height: 80vh;
        max-width: 80vw;
        justify-content: center;
        text-align: center;
        background-color: rgb(176, 226, 176);
        position: fixed;
        padding: 10%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: white;
        font-family: 'Roboto', sans-serif;
        color: #40483D;
    }
    
    h1{
        font-family: Bangers;
        font-size: 55px;
        margin-top: 50px;
        text-align: center;
        padding: 20px;
    }
    
    h2{
        font-family: Bangers;
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
    }
    
    p{
        font-family: Bangers;
        color: #558E4C;
    }
    
    a{
        font-family: Bangers;
        color: #558E4C;
    }
    
    a:hover {
        color: #ECDD5E;
      }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .news-item {
        padding: 5%;
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(176, 226, 176);
        border-radius: 20px;
        background-size: cover;
    }
    